<?xml version="1.0"?>
<model>
  <name>my_robot_description</name>
  <version>1.0</version>
  <sdf version="1.9">urdf/robot.urdf</sdf>

  <author>
    <name>Berny Perez</name>
    <email>berny@pdx.edu</email>
  </author>

  <description>
    A custom search robot for simulation in Gazebo.
  </description>
</model>